body{
  background-image: linear-gradient(antiquewhite, pink);
  margin-left: 0;
  margin-right: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: $primary-font;
  p{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    text-align: center;
  }
  img{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
  a{
    text-decoration: none;
  }
  audio{
    display:flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  h1{
    color: rgb(241, 187, 50);
    a{
      color:rgb(253, 181, 0);
    }
  }
  h2{
    text-align: center;
    margin-top: -90px;
  }
}
