body{
  background-image: linear-gradient(antiquewhite, pink);
  margin-left: 0;
  margin-right: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: $primary-font;
  p{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
  }
  img{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: -20px;
  }
  a{
    text-decoration: none;
  }
  audio{
    display:flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  h1{
    color: #AA6C39;
    a{
      color:#AA6C39;
    }
  }
  h2{
    text-align: center;
    margin-top: -90px;
  }
}
nav{
  ul{
    li:hover{
      a{
      color:pink;
    }
  }
  }
}
