body{
  background-image: linear-gradient(rgb(245, 245, 143), pink);
  margin-left: 0;
  margin-right: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 10px 0px 10px;
  font-family: $primary-font;
  a{
    text-decoration: none;
  }
}
