footer{
  background-color: black;
  color:white;
  height: 200px;
  margin-left: 0px;
  margin-left: -10px;
  margin-right: -10px;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -20px;
  p{
    text-align: center;
    width: 100%;
  }
  nav{
    padding-top: 10px;
    padding-bottom: 20px;
    ul{
      display: flex;
      justify-content: space-between;
      width: 80%;
      list-style: none;
      li{
        color: red;
      a{
        text-decoration: none;
        color:white;
        font-size: 20px;
      }
    }
    }
  }
}
