footer{
  background-image: linear-gradient(pink, white);

  color:black;
  height: 200px;
  margin-left: 0px;
  margin-left: -10px;
  margin-right: -10px;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -20px;
  font-weight: 800;
  p{
    text-align: center;
    width: 100%;
  }
  nav{
    padding-top: 10px;
    padding-bottom: 20px;
    ul{
      display: flex;
      justify-content: space-between;
      width: 80%;
      list-style: none;
      li{
        display: flex;
        background-color: none;
        justify-content: space-around;
      a{
        text-decoration: none;
        color:#AA6C39;
        font-size: 18px;
      }
    }
    }
  }
}
