h1 {
  text-align: center;
  font-weight: bold;
  a{
    color: rgba(122, 124, 128, 0.822);
    font-size: 40px;

  }
}
img{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}
.hero_imagen_1{
  img{
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  }
}
.texto{
  font-size: 26px;
}
