h1 {
  text-align: center;
  font-weight: bold;
  a{
    color: rgba(122, 124, 128, 0.822);
    font-size: 40px;

  }
}
img{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}
.hero_imagen_1{
  img{
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  }
}
.texto{
  font-size: 26px;

}
nav{
    padding-top: 10px;
    padding-bottom: 20px;
    ul{
      display: flex;
      justify-content: space-between;
      width: 80%;
      list-style: none;

      li{
        background-color: antiquewhite;
        border-radius: 20%;
      a{
        text-decoration: none;
        color:black;
        font-size: 20px;
        padding: 2px 6px 2px 6px;
        font-weight: 800;
      }
    }
    }
}
